@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500');

body {

    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    color: #212121;

}

img {
    
    width: 45px;
    height: 45px;
    float: left;
    
}

h2 {
    
    float: left;
    font-size: 2pc;
    margin: 6px 0 30px 6px;
    color: #666;
    
}

.clear {
    
    content: '';
    display: table;
    clear: both;
    
}

.content-wrapper {
    
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
    
}

h3 {
    
    font-size: 1.6pc;
    display: table;
    margin: -22px auto 30px auto;
    background: #FFF;
    padding: 0 15px;;
    
}

hr {
    
    border: none;
    border-bottom: 1px solid #212121;
    margin-top: 20px;
    
}

p {
    
    text-align: center;
    margin: 20px 0;
    font-weight: 300;
    font-size: .9pc;
    
}

select {
    
    display: block;
    width: 97%;
    margin: 10px;
    font-size: .9pc;
    height: 35px;
    background: #FFF;
    border-color: #CCC;
    
}

p:nth-of-type(2) {
    
    margin: 24px 0;
    
}

p a {
    
    text-decoration: none;
    color: #3399FF;
    transition: color .2s ease-out;
    
}

p a:hover {
    
    color: #2A78B8;
    transition: color .2s ease-in-out;
    
}

button {
    
    float: left;
    width: 45%;
    background: #D9D9D9;
    color: #FFF;
    border: none;
    padding: 7px 20px;
    border-radius: 7px;
    font-size: 1pc;
    font-weight: 200;
    font-family: 'Kanit';
    
}

p:nth-of-type(3) {
    
    float: left;
    width: 5%;
    margin-top: 13px;
    color: #646464;
    
}

hr:nth-child(2) {
    
    border: none;
    border-bottom: 1px solid #D9D9D9;
    
}

footer ul {
    
    margin: 0 20px;
    
}

footer ul li {
    
    display: inline;
    
}

footer ul li a {
    
    text-decoration: none;
    color: #646464;
    font-size: .7pc;
    
}

footer ul li a:hover {
    
    text-decoration: underline;
    
}

.disabled {
    
    background: #D9D9D9;
    
}

.disabled:hover {
    
    background: #D9D9D9;
    cursor: none;
    
}

.active {
    
    background: #009DF5;
    transition: background .2s ease-out;
    
}

.active:hover {
    
    background: #2A78B8;
    transition: background .3s ease-in-out;
    cursor: pointer;
    
}